.btnmore {
    border: 1px solid black;
    border-radius: 8px;
    background-color:#D6DC82;
    color: white;
    padding: 10px;
    font-weight: 500;
    font-size: medium;
    display: flex;
    justify-content: center;
    margin: 10px auto;

}